
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Navigation Bar</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
	<nav class="navbar">
		<div class="navdiv">
			<div class="logo"><a href="#">Ridify</a> </div>
			<div class="search-bar">
				<input type="text" id="search-input" placeholder="Search...">
				<button id="search-button">Search</button>
			  </div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Drivers</a></li>
				<button><a href="#">SignIn</a></button>
				<button ><a href="#">SignUp</a></button>
			</ul>
		</div>
	</nav>
	<div class="home_img">
		<div class="home_txt">
			<h1>India's lagest Bike Taxi Service</h1>
			<p id="para">Ridify is India’s first and fastest-growing Bike taxi app with a whopping 25 Million+ app downloads. We are now running operations in more than 100 cities.</p>
			<button class="button-85" role="button">Book Cab</button>
		</div>
	<img src="https://img.freepik.com/free-vector/delivery-concept-illustration_114360-3433.jpg?w=1480&t=st=1695804078~exp=1695804678~hmac=dbb783e4cd933ac807d966acebe13e32126bfc3a49b980d016542f135887d7ca" alt="" height="500" width="600">
	
</div>
<div class="aboutus">
	<img src="https://img.freepik.com/free-vector/rockers-concept-illustration_114360-12698.jpg?w=1480&t=st=1695829230~exp=1695829830~hmac=081b617a2521dc40faa03150a9fe486e86b218881773fca4f22a115d60df6482" alt="" height="500">
	<div class="aboutus-txt">
	<h1>About us</h1>
	<p>We are not an option, we are a choice
		We're #1 choice of 10 Million people because we're the solution of India's intra-city commuting problems. With assured safety, we also provide economically priced rides.</p>
	</div>
</div>
<!-- HTML !-->



</body>
</html>
